---
import type { Data } from '../../types'
import { mediaBasePath } from '../../config'
import Image from './Image.astro'
import Video from './Video.astro'

type Props = {
  isLatestPeriod: boolean
  index: number
  data: Data
}

const { isLatestPeriod, index, data } = Astro.props

const customClasses =
  index === 0
    ? ' border-yellow-500 GTM-first-item'
    : index === 1
      ? 'border-neutral-500 GTM-second-item'
      : 'border-lime-800 GTM-third-item'

const filePath = data.isVideo
  ? `${mediaBasePath}/${data.name}`
  : `${mediaBasePath}/${data.name}.${data.ext}`
---

<a
  class={`media-item loading relative block rounded-md border-8 border-solid ${customClasses}`}
  href={data.url}
  target="_blank"
  rel="noopener"
  title={data.companyName}
>
  {
    data.isVideo ? (
      <Video isLatestPeriod={isLatestPeriod} data={data} filePath={filePath} />
    ) : (
      <Image isLatestPeriod={isLatestPeriod} data={data} filePath={filePath} />
    )
  }
</a>
